header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
background-color: coral;
font-family:Verdana, Geneva, Tahoma, sans-serif
}
main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    align-items: center;
    
    
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    padding-top: 20px;
    box-shadow: 1px 1px 4px black;
    
   
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: coral;
}
img{ 
    width: 250px!important;
    height: 220px!important;
    
}
figure{
    display: flex;
    flex-direction: column;
    width:700px;
    margin-left: 330px;

}
a{
    text-decoration: none;
    color: black;
}